.header_container
  .site_title
    span crazyD
  .site_nav_container
    nav.site_nav
      ul
        li
          a(href="#") About
        li
          a(href="#") Blog
        li
          a(href="#") Work
        li
          a(href="#") Contact
